<footer>
  <div class="container">
    <div class="row text-center py-5">
      <div class="col-md-4">
        <h3 class="text-center">O nas</h3>
        <p>Nasz salon specjalizuje sie w sprzedaży aut marki BMW.</p>
      </div>
      <div class="col-md-4">
        <h3 class="text-center">Kontakt</h3><strong>Telefon</strong>
        <p>666132298<br>
        BMW@psk.pl</p>
      </div>
      <div class="col-md-4 pb-5">
        <h3 class="text-center">Masz pytania?</h3><br>
        <a class="btn btn-outline-light btn-lg" routerLink='/contact'>Skontaktuj się z nami!</a>
      </div>
    </div>
  </div>
</footer>
